body{
    margin: 0;
    background-color: rgba(202, 194, 194, 0.589);
   
}

.who-what, .vision-mission{
  max-width: 45.5%;
  margin-left: 1em;
  height: 80vh;
}
.separator, .who-what, .vision-mission{
    float:left;
    display: flex;
}
@media screen and (max-width: 992px){
    .who-what, .vision-mission{
        max-width: 100%;
        margin-left: 0;
        height: auto;
    }
    .who-what{
        margin-top: 1em;
    }
    .separator, .who-what, .vision-mission{
        float:none;
        display: flex;
    }
}

.separator{ 
    height: 70vh;
    width: 0.5 px;
    background-color: black;
    border: 0.px black solid;
    margin: 5vh 0 5vh 0 ;
    width: 1.5px;
    bottom: 100%;
    

}



.who-what, .vision-mission{
    flex-direction: column;
    justify-content: center;
}
.who-what{
    gap: 3em;
}

.container{
    width: 90%;
    margin: 0 auto;
}



/* .who, .what, .mission{
    display: flex;
}
.who:nth-child(1){
    justify-self: flex-start;
} */
.who>p{
    display: inline;
    text-align: center;
}
.image-text{
    display: flex;
    align-items: center;
}

.image-text>p, .image-text>div{
    margin: 1em;
    border-left: solid 1px #FFFFFF;
    padding-left: 0.5em
}
h2{
    text-align: center;
    margin-bottom: 1em;
}
.image-text>div, .image-text>div>p{
    margin-top: 0;
}
