
*{
    margin: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
}
body
{   
    background-color: rgba(255, 255, 255, 0.61);
    
}
#formquantities{
    display: flex;
    flex-direction: row;
}
#formquantities>input{
    max-width: 3em;
}

section.bill
{

     margin-left: 2em;

}


.add_to_cart
{
    margin-right: 1em;

}
.items{
    gap: 1em;
 
}

img{
    max-height: 11vh;
    border-top-left-radius: 1em;   
    border-bottom-left-radius: 1em;
    padding: 0 !important;
   
}
.item{
    display: flex;
    background-color: white;
    border: solid rgb(141, 111, 111) 2px;  
    justify-content: space-between;
    max-height: 11vh;
    align-items: center;
    border-radius: 1em;
    
}
@media only screen 
  and (max-width: 992px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .item{
        display: flex;
        background-color: white;
        /* border: solid rgb(141, 111, 111) 2px;   */
        justify-content: space-between;
        max-height: 22vh;
        align-items: center;
        /* border-radius: 1em; */
        margin: 1em;
        border: none;
        background-color: #D9D9D9;
        border-radius: 0;
    }
    img{
        max-height: 22vh;
        border-top-left-radius: 1em;   
        border-bottom-left-radius: 1em;
        padding-left: 1em !important;
    }
    section.bill
{

     margin-left: 0;

}
    
}

.items{
    display: flex;
    flex-direction: column;
}

.quantity>input{max-width: 4em;}


.container_1{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    gap: 2em;
    padding: 1em;

}
/* button{
    background-color: #FFBA00;
    border-radius: 10%;
    border-color: #FFBA00;
    box-shadow: 4px 4px 0.3em ;
    font-family: "Aclonica", sans-serif;
} */


.button{
    align-self: center;
}
.text{
    color: #1D921D;
}
.transport>input{
    max-width:6em;
}
.transport>div>button{
    display:block
}
.check{display: inline;}
.text_checkbox{
    display: inline;
    margin-right: 1em ;
}
.transport>div, .Grand_Total>p,.invoice>p{
    position: relative;
    left: 2em;
}
.transport>div>*, .invoice>p, .Grand_Total>p{
    margin-top: 1em;
}
.item_name>p{
    margin: 0 !important;
}