
nav
{
    background-color:rgba(144, 238,144, 87%) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    gap: 0.8em;
    /* grid-area: 1/1/2/12; */
    padding: 0.2em;
    font-size: 1.5em;
    font-family: "Aclonica", sans-serif;
    font-weight: lighter;
    font-style: normal;
   
}
.dropdown-menu, .dropdown-menu>li {
    background-color:#90EE90;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
.dropdown-menu>li>a:hover{
    background-color: green;
}
.nav-link{
    max-width: 1em;
}
button{
    box-shadow: none;
}