
nav, nav>div>a>span 
{
    background-color: #90EE90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    gap: 0.8em;
    padding: 0.2em;
    font-size: 1.5em;
    font-family: "Aclonica", sans-serif;
    font-weight: lighter;
    font-style: normal;
    
   
}
.dropdown-menu, .dropdown-menu>li, .dropdown-menu>li>div, .dropdown-menu>li>div>a, .dropdown-item:hover {
    background-color:#90EE90;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
.dropdown-menu>li>a:hover{
    background-color: green;
}
.nav-link{
    max-width: 1em;
}
button{
    box-shadow: none;
}
img{
    max-width: 75%;
}