
*{
    margin: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
}
body
{   
    
    background-color: rgba(255, 255, 255, 0.61);
    
}




.success{

    display: flex;
    flex-direction: column;
    margin: 1em 0;
    justify-content: center;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    background-color: #EEE6E6;
    width: 8em;
}
.price{
    position: relative;
    left: 0.5em;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.details>p:nth-child(2){
    color: green
}
button{
    background-color: #FFBA00;
    border-radius: 10%;
    border-color: #FFBA00;
    box-shadow: 4px 4px 0.3em ;
    font-weight:900;
}

.readmore{
    z-index: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 1em;
    backdrop-filter: blur(1px);
}