*{
    margin: 0;
    
}
.extras{
    background-color: #FFBA00;
    border-radius: 10%;
    border-color: #FFBA00;
    box-shadow: 4px 4px 0.3em ;
    font-family: "Aclonica", sans-serif;
    /* font-size: 0.7em; */

}

.product-name{
    color: #1D921D;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

}

.imagecontainer{

    height: 50vh;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}


.description{

    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-size: 1.1em;
    font-style: normal;

}
.price{

    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-size: 1.2em;
    font-style: normal;
    
}
.addphotos{

    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    

}


.description>p{
    position:relative;
    left: 2em;
    max-width: 80%;
    /* margin-top: 3em; */
}
/* img{

    max-height: 50%
} */
p{
    margin-bottom: 0;
}
.imagecontainer>img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 1em;
}
.addphotos>img{
    width: 50%;
    
}

@media screen and (max-width: 768px){
    
    .addphotos>img{
        width: 75%;
        
    }
}