*{
    margin: 0;
}
.onsale{
   max-height: 32vh;
   display: flex;
   flex-direction: row;
   overflow-x: scroll;
   scrollbar-width: 20px;
   gap: 1em;

}

body{
    display: grid;
    background-color: gray;
    /* grid-template-areas: 

    "nav nav"
    "aside main"; */
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(5, 1fr);
max-height: 100vh;}
nav
{
    background-color:rgba(144, 238,144, 87%) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    gap: 0.8em;
    grid-area: 1/1/2/11;
    padding: 0.2em;
}
aside{
    background: rgba(217, 217, 217, 100%);
    max-width: 10em;
    min-height: 100%;
    grid-area: 2/1/6/2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.options{
    position: relative;
    left: 2em; 
    border-left: solid black 1px;
    padding: 1em;

}
.price{
    position: relative;
    left: 0.5em;

}
button{
    background-color: #FFBA00;
    border-radius: 10%;
    border-color: #FFBA00;
    box-shadow: 4px 4px 0.3em ;
    font-weight:900;
}


.product{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    background-color: #EEE6E6;
    width: 8em;


}
main{
    display: flex;
    flex-direction: column;
    gap: 2em;
    grid-area: 2/2/6/11;
    overflow-y: scroll;
    margin-left: 1.3em;
}
img{
    width: 128px;
    height: 128px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
textarea{
    position: relative;
    top: 0.4em;
}
.details>p:nth-child(2){
    color: green
}
.regular_price{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}
.regular_price>a{
    text-decoration: none;
}