
body{
    margin: 0;
    background-color: rgba(202, 194, 194, 0.589);
}

#sidebar{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0.5em 1em 0 1em;
    background-color: #90EE90;
    border-top: 3px solid black;
    
}
.options{
   
    justify-content: space-between;
    align-items: center;  
    
    }
.option:hover{
    background-color:rgb(216, 56, 56);
}
.option{
    width: 100%;
    text-align: center;
}

/* @media screen and (width < 991.98px) {
    
    #large-sidebar{
        display: none;
   }
   #small-sidebar{
       display: block;
   }
}
@media screen and (width > 991.98px){
    
    #large-sidebar{
        display: block;
   }
   #small-sidebar{
       display: none;
   }
} */



/* .options>p{
    text-align: center;
    margin: 0.5em;
} */

.bodydiv{

    width: 60vw;
    display: flex;
    justify-content: center;

}

th>p{
    margin: 1em;

}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  td>p{
    margin: 1em;


}

table{
    display: block;
}
table>tr{
    width: 100%
}
.special-margin{
    margin: 0 !important;
}

.col-2{ 
    padding:0;
    padding-bottom: 0.5em;
}