html, body { 
    height:100%; 
    width:100%; 
    overflow:fidden;
}
body{
    margin: 0;
    background-color: rgba(202, 194, 194, 0.589);
}

aside{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vw;
    gap: 1em;
    border-bottom-right-radius: 1em;
    padding-bottom: 0.5em;
    
}
.options{
   
    background-color: rgba(144, 238,144, 87%);
    width: 9em;
    margin-top: 1em;
    padding-left: 0.5em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    /* padding: 0.4em */
}
.options>p{
    text-align: center;
    font-weight: bolder
}

.bodydiv{

    width: 60vw;
    display: flex;
    justify-content: center;

}

th>p{
    margin: 1em;

}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  td>p{
    margin: 1em;


}

table{
    display: block;
}
table>tr{
    width: 100%
}
.special-margin{
    margin: 0 !important;
}

.col-2{ 
    padding:0;
    padding-bottom: 0.5em;
}