{% extends "shop/base.html" %}
{% load static %}
{% block title %}
<title>About</title>
{% endblock%}
{% block link%}
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock%}

{% block base %}
{% endblock%}
{% block body%}
        <div class="container">
            <div class="who-what">
                <div class="who">
                    <h2>Who are we?</h2>
                    <div class="image-text">
                        <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
                        <p>Green Land Goal: Your dedicated partner  for sustainable environments, committed to cultivating natural beauty and for innovative landscaping solutions.
                        </p>
                    </div>
                </div>
                <div class="what">
                    <h2>what we do we do?</h2>
                    <div class="image-text">
                        <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
                        <p>Green Land Goal specializes in offering healthy fruits, wide variety of flowers, indigenous and exotic tree seedlings, premium grass varieties, diverse herbs, elegant pots, and professional landscaping services. We are your one-stop destination for all things green.</p>
                    </div>
                                        
                </div>
            </div>
            <div class="separator"></div>
                <div class="vision-mission">
                    <div class="mission">
                    <h2>our mission :</h2>
                    <div class="image-text">
                            <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
                            <div>
                                <p>Green Land Goal: 
                                    Sustaining Beauty. Beyond Landscaping, Embracing Nature.
                                </p>
                                <h2>our vision :</h2>
                                <p>Regreen the world in one generation</p>

                            </div>
                            
                    </div>
                </div>
                </div>
            </div>
        

        
    {% endblock %}
    