{% load static %}
{% load mathfilters %}
{% load index %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@0,100;0,200;
    0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body id="body">
    <!-- <nav class="aclonica-regular">
        <h2 class="logo">GREEN LAND<BR>GOAL</h2>
            <h2>HOME</h2>
            <h2>PRODUCTS</h2>
            <h2>BLOG</h2>
            <h2>ABOUT</h2>
    </nav> -->
    {% include 'shop/nav.html' %}
    <div class="container">
        <div class="items">
            {% for cart_item in cart_items %}
                {% with incart=cart_item.item_name %}

                <div class="item">
    
                    <img src="{{incart.image.url}}" alt="">
                    
                    <div class="item_name">
                        <p>Item name:</p>
                        <p>{{incart.name}}</p>
                    </div>
                    <div class="item_name">
                        <p>Item price:</p>
                        <p>Ksh: {{incart.price}}</p>
                    </div>
                    <div class="quantity">
                        {% with price=cart_item.quantity %}
                        <form id="formquantities"> 
                            {% csrf_token %}
                            <button hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"sub"}'>sub</button>
                            {{forms|index:forloop.counter0}}
                            <button hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"add"}'>add</button>
                            
                        <!-- <input type="submit" name = {{incart.product_id}} value="submit"> -->
                        <!-- <button type="submit" name="submit"value="{{incart.product_id}}">submit</button> -->
                        </form>
                        {% endwith %}
                    </div>
                    <div class="item_name">
                        
                        <p>Total price:</p>
                        <p>Ksh: {{cart_item.quantity|mul:incart.price}}</p>
                    </div>
                    <div class="add_to_cart">
                        <button type = "button">Add to cart</button>
                    </div>
                
                </div>

            {% endwith %}
            {% endfor %}
        </div>
    </div>
    
    <section class="bill">
        <div class="container_1">
            <div class="invoice">
                <h2>Invoice</h2>
                <p>Total: <span class="price text">Ksh {{invoice_total}}</span></p>
            </div>
            <div class="transport">
                <h2>Transport</h2>
                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p style="display: inline;">To:</p>
                        <!-- <input type="text" class="resize-text-box"> -->
                        
                        {{order_include_transport.destitation}}
                        <button type="submit" name="submit"
                         value="transport"
                        >search</button>
                        <p>Price: <span class="text">Ksh {{transport_price}}</span></p>
                    </form>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p class="text_checkbox">Include transport?</p>
                        {{order_include_transport.include_transport}}
                        <div class="button">
                            <button type=" submit" name="submit"
                            value="cart">Continue</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="Grand_Total">
                <h2>Grand Total:</h2>
                <p class="text large">Ksh {{grand_total}}</p>
            </div>
            <div class="button">
                <a href="{% url 'shop:purchase_form' %} "><button >Done</button></a>
            </div>
            
        </div>
    </section>
</body>

</html>
