{% extends "shop/base.html" %}
{% load static %}
{% load mathfilters %}
{% load index %}
{% block title %}
<title>Cart</title>
{% endblock%}
{% block link%}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock%}

{% block base %}
{% endblock%}
{% block body %}
    <!-- <div class=""> -->
        <div class="items container col-lg-8 col-12 mt-3 align-items-center">
            {% for cart_item in cart_items %}
                {% with incart=cart_item.item_name %}

                <div class="item row col-12 col-lg-11 gap-0">
    
                    <img src="{{incart.image.url}}" class="img-fluid col-lg-2 col-4" alt="">
                    
                    <div class="col-lg-9 col-8 d-flex flex-column flex-lg-row item_details justify-content-between gap-2">
                        <div class="item_name d-flex gap-2 justify-content-between align-items-center ">
                        <!-- <p>Item name:</p> -->
                        <p class="h3 text-success">{{incart.name}}</p>
                    </div>
                    <div class="item_name d-flex gap-2 justify-content-between align-items-center">
                        <!-- <p>Item price:</p> -->
                        <p>Ksh: {{incart.price}}</p>
                    
                    <!-- <div class="quantity"> -->
                        {% with price=cart_item.quantity %}
                        <form id="formquantities" > 
                            {% csrf_token %}
                            <button hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"sub"}'><i class="bi bi-dash"></i></button>
                            {{forms|index:forloop.counter0}}
                            <button hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"add"}'><i class="bi bi-plus"></i></button>
                        </form>
                        {% endwith %}
                    </div>
                    <!-- </div> -->
                    <div class="item_name d-flex justify-content-between align-items-center">
                        
                        <!-- <p>Total price:</p> -->
                        <p class="text-success">Ksh: {{cart_item.quantity|mul:incart.price}}</p>
                        
                        <div class="add_to_cart d-grid">
                            <button type = "button" class="btn btn-danger border border-danger rounded" hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"delete"}'><i class="bi bi-trash"></i> </button>
                        </div>
                    </div>
                </div>
                
                </div>

            {% endwith %}
            {% endfor %}
        </div>
    <!-- </div> -->
    {% include 'shop/partial_cart_template.html' %}

    {% block script %}
        <script>
            
        </script>
    {% endblock %}
    
{% endblock %}
