{% extends "shop/base.html" %}
{% load static %}
{% load mathfilters %}
{% load index %}
{% block title %}
<title>Cart</title>
{% endblock%}
{% block link%}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock%}

{% block body %}
    <div class="container">
        <div class="items">
            {% for cart_item in cart_items %}
                {% with incart=cart_item.item_name %}

                <div class="item">
    
                    <img src="{{incart.image.url}}" alt="">
                    
                    <div class="item_name">
                        <p>Item name:</p>
                        <p>{{incart.name}}</p>
                    </div>
                    <div class="item_name">
                        <p>Item price:</p>
                        <p>Ksh: {{incart.price}}</p>
                    </div>
                    <div class="quantity">
                        {% with price=cart_item.quantity %}
                        <form id="formquantities"> 
                            {% csrf_token %}
                            <button hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"sub"}'>sub</button>
                            {{forms|index:forloop.counter0}}
                            <button hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"add"}'>add</button>
                            
                        <!-- <input type="submit" name = {{incart.product_id}} value="submit"> -->
                        <!-- <button type="submit" name="submit"value="{{incart.product_id}}">submit</button> -->
                        </form>
                        {% endwith %}
                    </div>
                    <div class="item_name">
                        
                        <p>Total price:</p>
                        <p>Ksh: {{cart_item.quantity|mul:incart.price}}</p>
                    </div>
                    <div class="add_to_cart">
                        <button type = "button" hx-get="quantity-form/{{order_number}}/{{incart.name}}/" hx-swap="innerHTML", trigger="click", hx-target="body" hx-vals='{"op":"delete"}'>Remove from cart</button>
                    </div>
                
                </div>

            {% endwith %}
            {% endfor %}
        </div>
    </div>
    {% include 'shop/partial_cart_template.html' %}
    
{% endblock %}

</html>
