{% extends "shop/base.html" %}
{% load static %}
{% block title %}
<title>Homepage</title>
{% endblock%}
{% block link%}
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock%}


{% block base %}
{% endblock%}
{% block body%}
    
    <img src="{% static 'image/image-removebg-preview.png' %}" alt="nature and girls" class="col-6 img-fluid d-none d-md-block">
    <div class="describing col-12 col-md-6 d-sm-flex flex-column justify-content-center align-items-center">
       
       <h2 class="description ">Blossom with Nature's Finest: 
        Flowers, Trees, and Pots for All.</h2>
        <p class="mx-md-5 mt-2"> <span> "Bring Nature Home – Fresh Flowers, Vibrant Trees, and Stylish Pots!"</span>  

            Blossom with nature’s finest at <span>Green Land Goal</span>, where we are on a mission to green the world in one generation. Explore our exquisite collection of <span>fresh flowers, thriving trees, and elegant pots</span>—carefully curated to transform your home, garden, and community into a lush, vibrant haven. Whether you’re brightening your indoor space, enhancing your outdoor oasis, or finding the perfect gift, every plant you choose takes us one step closer to a greener future.  
            
            Beyond offering high-quality plants and pots, we also specialize in <span>professional landscaping services</span>, helping you create breathtaking outdoor spaces that blend beauty and sustainability. From home gardens to large-scale green projects, our expert team is dedicated to bringing your vision to life. <span>Join us in making the world bloom—one plant, one tree, and one landscape at a time!</span> 🌍🌿🌸  
        </p>
        <a href="{% url 'shop:products'%}" class="shop_button btn btn-warning rounded-pill">SHOP NOW!</a>
    </div>
    <div class="sign col-md-4 col-8 mt-3">
        <p>
            I love the enviroment so I will:
             <a href="{% url 'Users:signup'%}" class="signup btn btn-warning rounded-pill">Sign Up</a>
        
        <p> 
            I am already a members so I will: <a  class="btn btn-warning rounded-pill" href="{% url 'Users:signin'%}" class="signup">Log in</a>
        </p>
    </div>
{% endblock %}
</html>