{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLG HOMEPAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@0,100;0,200;
    0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <!-- <nav class="nav">
            <h2 class="logo">GREEN LAND<BR>GOAL</h2>
            <a href="#"><h2>HOME</h2></a>
            <a href="{% url 'shop:products'%}"><h2>PRODUCTS</h2></a>
            <a href=""><h2>BLOG</h2></a>
            <a href=""><h2>ABOUT</h2></a>
            
    </nav> -->
    {% include 'shop/nav.html' %}
    <img src="{% static 'image/image-removebg-preview.png' %}" alt="nature and girls">
    <div class="describing">
       <h2 class="description">Blossom with Nature's Finest: 
        Flowers, Trees, and Pots for All.</h2>
        <h5>"Elevate your surroundings with vibrant flowers, lush trees, and 
            stylish pots. Embrace nature's beauty—transform your space into a 
            blooming haven...
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. 
            Mauris placerat eleifend leo. Pellentesque habitant morbi tristique senectus 
            et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat 
            vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas 
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

        </h5>
        <a href="{% url 'shop:products'%}" class="shop_button"><button type="button"><h2 class="shopnow">SHOP NOW!</h2></button></a>
    </div>
    <div class="sign">
        <h5>I love the enviroment so I will: <a href="" class="signup"><button type="button"><h3>Sign Up</h3></button></a></h5>
        <h5> am already a members so I will: <a href="" class="signup"><button type="button"><h3>Log in</h3></button></a></h5>
    </div>
</body>
</html>