{% extends "shop/base.html" %}
{% load static %}
{% block title %}
<title>Success</title>
{% endblock%}
{% block link%}
<link rel="stylesheet" href="{% static 'css/ordersuccess.css' %}">
<link rel="stylesheet" href="{% static 'css/trackingorder.css' %}">
{% endblock%}
{% block base %}
{% endblock%}
{% block body %}
        <section class="success row justify-content-center">
        <div class="tracking_and_reciept">
            <div class="success">
                {% if order_status == "open" %}
                    <p>This order <strong> {{order_number}}</strong> is yet to be completed</p>
                {% elif order_status == "processing" %}
                    <p>Order <strong>{{order_number}}</strong> is being processed</p>
                    <p>click <a href="{% url 'shop:get_pdf' order_number %}"><button class="btn btn-warning rounded-pill">here</button> </a>to download the recipt in pdf format</p>
                {% elif order_status == "transporting" %}
                    <p>Order <strong>{{order_number}}</strong> is on the way</p>
                    <p>click <a href="{% url 'shop:get_pdf' order_number %}"><button class="btn btn-warning rounded-pill">here</button> </a>to download the recipt in pdf format</p>
                {% elif order_status == "delivered" %}
                    <p>Order {{order_number}} has been delivered</p>
                    <p>click <a href="{% url 'shop:get_pdf' order_number %}"><button class="btn btn-warning rounded-pill">here</button> </a>to download the recipt in pdf format</p>
                {% endif %}
                
                
            </div>
            <div class="to_progress  justify-content-center">
                
                <div class="card1">
                    <div class="tracking">
                        
                    <div class="progress-track">
                        <ul id="progressbar">
                            <li class="step0 " id="step1">confirming order</li>
                            <li class="step0  text-center" id="step2">Processing</li>
                            <li class="step0 text-end" id="step3">On the way</li>
                            <li class="step0 text-end" id="step4">Delivered</li>
                        </ul>
                    </div>
                </div>
                </div>
    </section>  
    <section class="shopping row  justify-content-center">
        <div class="product">
            <div>
                <img src="" alt="">
            </div>
            <div class="details">
                <p>American Cypress</p>
                <p>Ksh. 1000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="static/image/45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div><div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div><div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        
    </section>
    <div class="readmore">
        <a class="btn btn-warning rounded-pill" href="{% url 'shop:products' %}">Proceed to shop</a>
        
    </div>
    {% block script %}  

        <script>
            let mydata = "{{order_status|safe}}";
            console.log(mydata);
            if (mydata === "processing") {
                console.log(`This is the ${mydata}`);
                document.getElementById("step1").classList.add("active");
                document.getElementById("step2").classList.add("active");
            } else if (mydata === "transporting") {
                console.log(`This is the ${mydata}`);
                document.getElementById("step1").classList.add("active");
                document.getElementById("step2").classList.add("active");
                document.getElementById("step3").classList.add("active");
            } else if (mydata === "delivered") {
                console.log(`This is the ${mydata}`);
                document.getElementById("step1").classList.add("active");
                document.getElementById("step2").classList.add("active");
                document.getElementById("step3").classList.add("active");
                document.getElementById("step4").classList.add("active");
                
            } 
        </script>
    {% endblock %}




{% endblock %}
