{% extends "shop/base.html" %}
{% load static %}
{% block title %}
<title>Success</title>
{% endblock%}
{% block link%}
<link rel="stylesheet" href="{% static 'css/ordersuccess.css' %}">
<link rel="stylesheet" href="{% static 'css/trackingorder.css' %}">
{% endblock%}
{% block base %}
{% endblock%}
{% block body %}
        <section class="success row justify-content-center">
        <div class="tracking_and_reciept">
            <div class="success">
                <p>Your order <strong>{{order_number}}</strong> has been placed successfully</p>
                <p>click <a href="{% url 'shop:get_pdf' order_number %}"><button>here</button> </a>to download the recipt in pdf format</p>
            </div>
            <div class="to_progress  justify-content-center">
                <!-- <p>
                     Click <button type="button" class="btn btn-primary d-flex mx-auto btn-lg" data-toggle="modal" data-target="#myModal">here </button>to see the progress of your order 
                </p> -->
                <div class="card1">
                    <div class="tracking">
                        
                    <div class="progress-track">
                        <ul id="progressbar">
                            <li class="step0 active " id="step1">Ordered</li>
                            <li class="step0 active text-center" id="step2">Processing</li>
                            <li class="step0 active text-end" id="step3">On the way</li>
                            <li class="step0 text-end" id="step4">Delivered</li>
                        </ul>
                    </div>
                </div>
                </div>
    </section>  
    <section class="shopping row  justify-content-center">
        <div class="product">
            <div>
                <img src="" alt="">
            </div>
            <div class="details">
                <p>American Cypress</p>
                <p>Ksh. 1000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="static/image/45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div><div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div><div class="product">
            <div>
                <img src="htmlpractice\istockphoto-482987325-612x612.jpg" alt="">
            </div>
            <div class="details">
                <p>LandScaping</p>
                <p>Ksh. 10000</p>
            </div>
        </div>
        <div class="product">
            <div>
                <img src="45186561_958354954335242_9146592336728293376_n-01.jpeg" alt="">
            </div>
            <div class="details">
                <p>Thicker Palm</p>
                <p>Ksh. 2400</p>
            </div>
        </div>
        
    </section>
    <div class="readmore">
        <div><button><a href="{% url 'shop:products' %}"></a>Proceed to shop</a></button></div>
    </div>





{% endblock %}
