{% if empty %}
<section class="bill col-lg-3 col-12" id="invoice_container">
    <div class="container_1 d-sm-flex flex-column justify-content-center align-items-center">
        <p class="h3">You have no orders return to shop to see our products!</p>
        <a class="btn btn-warning border border-warning border-1 rounded"href="{% url 'shop:products' %} ">Shop now!</a>
    </div>
</section>
{% else %}

<section class="bill col-lg-3 col-12" id="invoice_container">
    
    <div class="container_1 d-sm-flex flex-column justify-content-center align-items-center">
        <div class="invoice">
            <h2>Invoice</h2>
            <p>Total: <span class="price text">Ksh {{invoice_total}}</span></p>
        </div>
        <div class="transport">
            <h2>Transport</h2>
            <div>
                <form hx-get="transport-price-form/{{order_number}}", hx-swap = "outerHTML", hx-trigger="every 5s" hx-target="#invoice_container">
                    {% csrf_token %}
                    <p style="display: inline;">To:</p>
                    <!-- <input type="text" class="resize-text-box"> -->
                     <!-- The form value -->
                    {{order_include_transport.destination}}
                    <p>Price: <span class="text">Ksh {{transport_price}}</span></p>
                    <p class="text_checkbox">Include transport?</p>
                     {{include_transport_check.include_transport}} 
                </form>
                
            </div>
        </div>
        <div class="Grand_Total">
            <h2>Grand Total:</h2>
            <p class="text large">Ksh {{grand_total}}</p>
        </div>
        
        <a class="btn btn-warning border border-warning border-1 rounded"href="{% url 'shop:purchase_form' %} ">Done</a>
       
        
    </div>
</section>

{% endif %}