<section class="bill col-lg-2 col-12 mt-2 " id="invoice_container">
    <div class="container_1">
        <div class="invoice">
            <h2>Invoice</h2>
            <p>Total: <span class="price text">Ksh {{invoice_total}}</span></p>
        </div>
        <div class="transport">
            <h2>Transport</h2>
            <div>
                <form hx-get="transport-price-form/{{order_number}}", hx-swap = "outerHTML", hx-trigger="every 2s" hx-target="#invoice_container">
                    {% csrf_token %}
                    <p style="display: inline;">To:</p>
                    <!-- <input type="text" class="resize-text-box"> -->
                     <!-- The form value -->
                    {{order_include_transport.destination}}
                    <p>Price: <span class="text">Ksh {{transport_price}}</span></p>
                    <p class="text_checkbox">Include transport?</p>
                     {{include_transport_check.include_transport}} 
                </form>
                
            </div>
        </div>
        <div class="Grand_Total">
            <h2>Grand Total:</h2>
            <p class="text large">Ksh {{grand_total}}</p>
        </div>
        <div class="button">
            <a href="{% url 'shop:purchase_form' %} "><button >Done</button></a>
        </div>
        
    </div>
</section>