<div class="regular_price" id="shopitems">
    {% for item in items %}
    <a href="{{ item.get_absolute_url }}">
        <div class="card" style="max-width: 10rem;">
            <img src="{{ item.image.url }}" class="card-img-top object-fit-cover img-fluid rounded" alt="{{item.product_id}} " style="max-height: 20em;">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">Ksh. {{item.price}}</p>
            </div>
          </div>
    </a>
    {% endfor %}
</div>