{% extends "shop/base.html" %}
{% load static %}
{% block link%}
    <link rel="stylesheet" href="{%static 'css/product_indiv.css' %}">
    <!-- {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} -->
{% endblock%}

    
{% block body%}

    <div style="background-color: aquamarine;" class="imagecontainer">
        <img src="{{item.image.url}}" class="fullimage" alt=""></div>
    <div class="description ">
        {% include 'shop/messages.html' %}
        <h2 class="product-name">{{item.name}}</h2>
        <p>
            {{item.description}}
        </p>
    </div>
    <div class="price">
        <div><p>PRICE: KSH {{item.price}}</p></div>
        <div class="button">
            <a href="{% url 'shop:addtocart' item.product_id %} "><button type="button" class="extras"><h3>ADD TO CART</h3></button></a>
            <a><button type="button" class="extras"><h3>BUY NOW!</h3></button></a>
        </div> 
    </div>
    
    <div class="addphotos">
        {% for image1 in images %}
            <img src="{{image1.addphotos.url}}" alt="{{image1.display_name}}">
        {% endfor %}

    </div>
    <!-- <script src="bootstrap.min.js"></script> -->
    {% block script%}
        <script>
            function onButtonPress() {
                $('.alert').alert('close');
            }
        </script>
    {% endblock %}
{% endblock %}
</html>