{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cart</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@0,100;0,200;
        0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'css/purchase_form.css' %}">
    </head>
    <body>
        <!-- <nav class="aclonica-regular">
            <h2 class="logo">GREEN LAND<BR>GOAL</h2>
                <h2>HOME</h2>
                <h2>PRODUCTS</h2>
                <h2>BLOG</h2>
                <h2>ABOUT</h2>
        </nav> -->
        {% include 'shop/nav.html' %}
        <div class="container">
            <div class="form_purchase">
                <div>
                    <p class="title">Order number:</p><p class="value">{{order.order_number}}</p>
                </div>
                <table class="items">
                    <tr>
                        <th>Item:</th>
                        <th>price:</th>
                        <th>qty:</th>
                        <th>Amount:</th>
                    </tr>
                    {% for ordered_item in ordered_items %}
                        <tr>
                            <td>{{ordered_item.item_name}}</td>
                            {% with ordered_item.item_name as  item %}
                                <td>{{item.price}}</td>
                            {% endwith %}
                            <td>{{ordered_item.quantity}}</td>
                            <td>40000</td>
                        </tr>
                    {% endfor %}
            
                    <tr>
                        <td><strong>Total price:</strong></td>
                        <td>{{order.invoice_total}}</td>
                        
                    </tr>
                </table>
                
                <div>
                    <p class="title">Transport charges:</p><p class="value">Ksh {{order.transport_price}}</p></div>
                <div>
                    <p class="title">Grandtotal:</p><p class="value">Ksh {{order.grand_total}}</p>
                </div>
                <div>
                    <label for="mpesano" class="title">Mpesa no:</label><input  type="text" name="mpesano" id="mpesano" placeholder="0722693789">
                </div>
                <div>
                    <label for="phoneno" class="title">Phone no:</label><input type="text" class="inline"name="phoneno" id="phoneno" placeholder="0722693789">
                    
                </div>
                <div class="button">
                    <button type = "button" class="red" >Cancel</button>
                    <button type = "button" class="yellow" >Continue</button>
                    
                    
                </div>
            </div>
        </div>
    </body>
</html>