{% extends "shop/base.html" %}
{% load static %}
{% block title %}
<title>Order</title>
{% endblock%}
{% block link%}
<link rel="stylesheet" href="{% static 'css/purchase_form.css' %}">
{% endblock%}
{% block base %}
{% endblock%}
{% block body %}
        <div class="container row justify-content-center">
            <div class="form_purchase col-12  col-lg-5 d-flex justify-content-center align-items-center">
                <div>
                    <p class="title">Order number:</p><p class="value">{{order.order_number}}</p>
                </div>
                <div class="table-responsive">
                    <table class="items table">
                        <tr>
                            <th>Item:</th>
                            <th>price:</th>
                            <th>qty:</th>
                            <th>Amount:</th>
                        </tr>
                        {% for ordered_item in ordered_items %}
                            <tr>
                                <td>{{ordered_item.item_name}}</td>
                                {% with ordered_item.item_name as  item %}
                                    <td>Ksh. {{item.price}}</td>
                                {% endwith %}
                                <td>{{ordered_item.quantity}}</td>
                                <td>Ksh.{{ordered_item.cart_item_price }}</td>
                            </tr>
                        {% endfor %}
                       
                        
                
                        <tr>
                            <td><strong>Total price:</strong></td>
                            <td>Ksh. {{order.invoice_total}}</td>
                            
                        </tr>
                    </table> 
                </div> 
                <div>
                    <p class="title">Transport charges:</p><p class="value">Ksh {{order.transport_price}}</p></div>
                <div>
                    <p class="title">Grandtotal:</p><p class="value">Ksh. {{order.grand_total}}</p>
                </div>
                <form id="payment" method="POST" action="{%url 'shop:payment_process'%}">
                    {% csrf_token %} 
                    
                    <div>
                        {% if done %}
                        <div class="d-flex flex-column  align-items-center"><p>This order has already been paid for.</p>
                        <a class="btn btn-warning rounded-pill" href="{% url 'shop:order_succesful' order.order_number %}" role="button">Proceed</a>
                    </div>
                        {% else %}
                    
                        
                        <div>
                        
                            <label for="mpesano" class="title">Mpesa no:</label>{{payment_details.mpesa_number}}
                        </div>
                        <div>
                            <label for="mpesano" class="title">{{payment_details.phone_number.errors}}
                            <label for="phoneno" class="title">Phone no:</label>{{payment_details.phone_number}}
                            {{payment_details.non_field_errors}}

                        
                        
                    </div>
                </form>
                <div class="button">
                    {% include 'shop/proceeding_button.html ' %}            
                </div>
                {% endif %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}