
{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    <title>Shop</title>
    {% endblock%}
{% block link%}
    <link rel="stylesheet" href="{% static 'css/shop_css.css' %}">
{% endblock%}
{% block body%}

   
   
        {% include "shop/sidebar.html"%}
        
        <div class="col-8">
            <form action="" id="searchform" class="row justify-content-center ">
                <input type="text" name="query" hx-trigger="keyup[key=='Enter']" class="col-4 m-4 border border-dark rounded border-3" placeholder="Press Enter to Search">
            </form>
            
            <div class="regular_price" id="shopitems" class="row">
                {% for item in items %}
                <a href="{{ item.get_absolute_url }}">
                    <!-- <div class="product">
                        <div>
                            <img src="{{ item.image.url }}" alt="{{item.product_id}}">
                        </div>
                        <div class="details">
                            <p>{{item.name}}</p>
                            <p>Ksh. {{item.price}}</p>
                        </div>
                    </div> -->
                    <div class="card" style="max-width: 10rem;">
                        <img src="{{ item.image.url }}" class="card-img-top object-fit-cover img-fluid rounded" alt="{{item.product_id}} " style="max-height: 20em;">
                        <div class="card-body">
                          <h5 class="card-title">{{item.name}}</h5>
                          <p class="card-text">Ksh. {{item.price}}</p>
                        </div>
                      </div>
                </a>
    
                {% endfor %}
            </div>
        </div>


    
{% endblock %}

