
{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    <title>Shop</title>
    {% endblock%}
{% block link%}
    <link rel="stylesheet" href="{% static 'css/shop_css.css' %}">
{% endblock%}

{% block body%}
        
        <div class="col-lg-8 col-12  justify-content-center ">
            <form action="" id="searchform" class="row justify-content-center align-items-center d-flex ">
                <input type="text" name="query" hx-trigger="keyup[key=='Enter']" class="col-4 m-4 me-0 border border-dark rounded border-3" placeholder="Press Enter to Search"><button type="submit" class="border border-dark rounded border-3 " style="max-width:4em ;"><i class="bi bi-search"></i></button>
                
                <button type="button" class="d-sm-block d-md-block d-lg-none d-xl-none border border-dark rounded border-3 "  data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" aria-label="Toggle navigation" style="max-width:4em ;"><i class="bi bi-funnel"></i></button>
            </form>
            {% include 'shop/partial_shop.html' %}
        </div>


    
{% endblock %}

