
{% extends 'adminpanel/adminpanel.html' %}
{% load static %}
{% block link %}
    

    <script src="{% static 'js/htmx.min.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/item.css' %}">
     
     

{% endblock%}
{% block body %}
<div class="container2">
    <div class="displaydiv" hx-get="{% url 'adminpanel:update' %}" hx-target="#updatecontent" hx-swap="innerHTML" hx-trigger="every 2s">
      {% include "adminpanel/updating_itemhtml.html" %}
        
    </div>
</div>
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <form action="/adminpanel/item/" method="post" class="" enctype="multipart/form-data">
        <div class="modal-body arrangeContent">
          {% csrf_token %}
          <div>
            {{form1.name.label}}:
            {{form1.name}}
          </div>
          <div>
            {{form1.price.label}}:
            {{form1.price}}
          </div>
          <div>
            {{form1.image.label}}:
            
            <img src="{{ form1.image.value.url }}" alt="">

            <div>{{form1.image}}</div>
          </div>
          <div>
            {{form1.description.label}}:
            {{form1.description}}
          </div>
          <div>
            {{form.errors}}
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


          <button type="submit" class="btn btn-primary" name="saveform1" value="{{item.product_id}}">Save changes</button>
        
        </div>
        </form>
            
    
     
      </div>
    </div>
  </div>
<!--
    for editing the images
-->
  <div class="modal fade bd-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="smallModal">
    <div class="modal-dialog modal-sm modal-dialog-centered ">
      <form action="/adminpanel/item/" method="post" enctype="multipart/form-data">
      <div class="modal-content small-modal-container
      ">
        {% csrf_token %}
        {{imagesform.as_p}}
        <div><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="saveform2">Save changes</button></div>
      </div>
    </form>
      
    </div>
    
  </div>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script type="text/javascript">
      $(document).ready(function() {
          let clickedBtnID = '';

          // Store the ID of the clicked button
          $("button").on("click", function () {
              clickedBtnID = $(this).attr('id');
              console.log(clickedBtnID);
              console.log("hello");
          });

          $(".formselected").submit(function(e){
              e.preventDefault(); // Prevent the default form submission

              $.ajax({
                  type: 'GET',
                  data: $("form").serialize(),
                  url: "/adminpanel/item/",
                  success: function(data){
                      if (window.location.href.indexOf("?openmodal") > -1) {
                          const urlobj = new URL(window.location.href);
                          urlobj.search = '';
                          const result = urlobj.toString();
                          console.log($("#" + clickedBtnID).attr('name'));
                          console.log($("#" + clickedBtnID).attr('value'));
                          if (clickedBtnID.indexOf("button")>-1)
                          {
                          window.location = result + "?openmodal=1&" + $("#" + clickedBtnID).attr('name') + "=" + $("#" + clickedBtnID).attr('value');
                          console.log(window.location);
                        }
                        else if(clickedBtnID.indexOf("edit")>-1){
                          window.location = result + "?openmodal=2&" + $("#" + clickedBtnID).attr('name') + "=" + $("#" + clickedBtnID).attr('value');
                        }
                      } else {
                        const urlobj = new URL(window.location.href);
                        urlobj.search = '';
                        const result = urlobj.toString();
                        if (clickedBtnID.indexOf("button")>-1)
                          {
                          window.location = result + "?openmodal=1&" + $("#" + clickedBtnID).attr('name') + "=" + $("#" + clickedBtnID).attr('value');
                          console.log(window.location);
                        }
                        else if(clickedBtnID.indexOf("edit")>-1){
                          window.location = result + "?openmodal=2&" + $("#" + clickedBtnID).attr('name') + "=" + $("#" + clickedBtnID).attr('value');
                        }
                      }
                  }
              });
              return false;
          });
      });
  </script>
    <script type="text/javascript">
      $(document).ready(function() {
        if (window.location.href.indexOf("?openmodal=1") > -1) {
          $('#exampleModal').modal('show');
          console.log("your url contains the name f?openmodal");
        }
        else if (window.location.href.indexOf("?openmodal=2") > -1) {
          $('#smallModal').modal('show');
          console.log("your url contains the name f?openmodal");
        }
      });
      $('#exampleModal').on('hidden.bs.modal', function () {
    
    console.log(window.location.href);
    const urlobj = new URL(window.location.href);
    urlobj.search = '';
    const result = urlobj.toString();
    console.log(result)
    window.location = result
   
});
$('#smallModal').on('hidden.bs.modal', function () {
    
    console.log(window.location.href);
    const urlobj = new URL(window.location.href);
    urlobj.search = '';
    const result = urlobj.toString();
    console.log(result)
    window.location = result
   
});
    </script>
<!-- <script type="text/javascript">
$(document).ready(

);
</script> -->
{% endblock %}