
{% extends 'adminpanel/adminpanel.html' %}
{% load static %}
{% block link %}
     
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock%}
{% block body %}
<div class="container2">
    <div class="displaydiv">
        <form action="" method="get">
            {% for data in data_to_display %}
        {% with dict1=data.item dict2=data.item_images %}
        <div class="item">
            
                <div class="upper">
                    <img src="{{ dict1.image.url}}" alt="" class="cover">
                    <div>
                        <h4>Name:</h4>
                        <p>{{dict1.name}}</p>
                    </div>
                    <div>
                        <h4>Description:</h4>
                        <p>{{ dict1.description|truncatewords:3 }}</p>
                    </div>
                    <div class="button">
                        <button  id = "button{{ forloop.counter }}"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" name="submit" value="{{dict1.product_id}}" type="submit">Change</button>
                        <button >Continue</button>
                    </div>

                </div>
            
            <hr>
            <div class="lower">
                {% for images in dict2 %}
                    <img src="{{images.addphotos.url}}" alt="">
                {% endfor %}
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        </form>
        
        

    
    </div>
</div>
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- <script type="text/javascript">
   let button_clicked = $("button").on("click", function () {
   var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
   console.log(clickedBtnID);
   console.log("hello");
   return clickedBtnID;
});
    
      $("form").submit(function(e){
      e.preventDefault();
      $.ajax({
          type : 'GET',
          data: $("form").serialize(),
          url : "/adminpanel/item/",
          success: function(data){
          if (window.location.href.indexOf("?openmodal") > -1) {
            const urlobj = new URL(window.location.href);
            urlobj.search = '';
            const result = urlobj.toString();
            console.log($(button_clicked).attr('name'));
            console.log($(button_clicked).attr('value'));
            window.location = result + "?openmodal=1&" + $(button_clicked).attr('name') + "=" + $(button_clicked).attr('value');
            console.log(window.location);

         ;
        }
        else
          { window.location = window.location.href + "?openmodal=1&" + $(button_clicked).attr('name') + "=" + $(button_clicked).attr('value');}
}
      });
      return false;
      });
    </script> -->
    <script type="text/javascript">
      $(document).ready(function() {
          let clickedBtnID = '';

          // Store the ID of the clicked button
          $("button").on("click", function () {
              clickedBtnID = $(this).attr('id');
              console.log(clickedBtnID);
              console.log("hello");
          });

          $("form").submit(function(e){
              e.preventDefault(); // Prevent the default form submission

              $.ajax({
                  type: 'GET',
                  data: $("form").serialize(),
                  url: "/adminpanel/item/",
                  success: function(data){
                      if (window.location.href.indexOf("?openmodal") > -1) {
                          const urlobj = new URL(window.location.href);
                          urlobj.search = '';
                          const result = urlobj.toString();
                          console.log($("#" + clickedBtnID).attr('name'));
                          console.log($("#" + clickedBtnID).attr('value'));
                          window.location = result + "?openmodal=1&" + $("#" + clickedBtnID).attr('name') + "=" + $("#" + clickedBtnID).attr('value');
                          console.log(window.location);
                      } else {
                          window.location = window.location.href + "?openmodal=1&" + $("#" + clickedBtnID).attr('name') + "=" + $("#" + clickedBtnID).attr('value');
                      }
                  }
              });
              return false;
          });
      });
  </script>
    <script type="text/javascript">
      $(document).ready(function() {
        if (window.location.href.indexOf("?openmodal") > -1) {
          $('#exampleModal').modal('show');
          console.log("your url contains the name f?openmodal");
        }
      });
      $('#my-modal').on('hidden.bs.modal', function () {
  window.alert('hidden event fired!');
});
    </script>
    
    
  
{% endblock %}