{% extends "adminpanel/adminpanel.html"%}
{% load static %}

{% block link %}
    
    <link rel="stylesheet" href="{%  static 'css/transport.css' %}">
{% endblock %}
{% block content %}
   
    <div class="container">
        <div class="displaydiv">
            <!-- <form get="{% url 'adminpanel:transport_modify'}"> -->
                <table>
                    <form method="post" action="{% url 'adminpanel:transport' %}">
                    {% csrf_token %}
                    <tr><th>Name</th><th>Transport</th><th>Action</th></tr>
                    {% if not form.instance.destination %}
                    <tr>
                      {% include 'adminpanel/transport_add.html' %}
                    </tr>
                    {% endif %}
                    {% for Transport in Transports %}
                      <tr>
                        {% if form.instance.destination == Transport.destination %}
                          {% include 'adminpanel/transport_add.html' %}
                        {% else %}
                        <td>{{ Transport.destination }}</td>
                        <td>{{ Transport.price }}</td>
                        <td>
                          <button formnovalidate name="edit" value="{{ Transport.destination }}">Edit</button>
                          <button formnovalidate name="delete" value="{{ Transport.destination }}">Delete</button>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    </form>
                    </table>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button> -->

 
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock%}
