{% extends 'adminpanel/adminpanel.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{%  static 'css/user_edit.css' %}">

{% endblock %}
{% block content %}
     <div class="container ">
        <form class="col-12 justify-content-center" method="post">
            {% csrf_token %}
            <div class="innerdiv col-12">
                <div class="innerdivupper">
                    <div class="profilepic">
                        {% if not user2_profile.profilepicture %}
                            <i class="bi bi-person h1"></i>
                        {% else %}
                            <img src="{{user2_profile.profilepicture.url
                            }}" class="rounded-circle shadow-4-strong" alt="">
                        {% endif %}
                    </div>
                    <div class="userinfo">
                        <p><strong>Name:</strong> <span>{{user_info.first_name}}</span></p>
                        <p><strong>Email:</strong> <span>{{user_info.email}}</span></p>
                        <p><strong>phone number:</strong> <span>{{user_profile.phone_number}}</span></p>
                    </div>
                </div>
                <div class="innerdivlower">
                    {% if is_employee %}
                            Already an <strong>employee</strong>: <button  class="btn btn-warning" type="submit" name="demote" value="{{user_info.id}}"> Demote </button>
                    {% elif is_buyer %}
                        Just a <strong>Buyer</strong>: <button class="btn btn-danger" type="submit" name="promote" value="{{user_info.id}}"> Promote </button>
                        {% endif %}
                </div>
            </div>
        </form>
  
     </div>
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    {% endblock %}
{% endblock %}